/* Media Screen */
@media screen and (max-width: 765px) {
  .hero-sec-card-two {
    height: 194px;
  }
  .hero-sec-card-five {
    height: 187.5px;
  }
  .hero-sec-card-three {
    padding: 25px;
    padding-top: 35px;
  }
  .hero-sec-card-seven {
    padding: 25px;
    padding-top: 35px;
  }
  .top-sec {
    margin-top: 35px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero-sec-card-one {
    height: 188px;
  }
  .hero-sec-card-two {
    height: 188px;
  }
  .hero-sec-card-three {
    height: 188px;
    padding: 20px;
  }
  .hero-sec-card-four {
    height: 188px;
  }
  .hero-sec-card-five {
    height: 188px;
  }
}
/* Media Screen End */
