/* Home Page */
.hero-sec-search {
  border-radius: 50px;
}
.hero-sec-card-one {
  background-color: #c44337;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 110px;
}
.hero-sec-card-two {
  background-color: #95d35a;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-three {
  background-color: #7735da;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-four {
  background-color: #3772b8;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-five {
  background-color: #d29b46;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-six {
  background-color: #efee53;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-seven {
  background-color: #61b8c2;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-eight {
  background-color: #c44337;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-nine {
  background-color: #7735da;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Home Page End */

/* Risk Generator */
.dash-td ul li {
  list-style: circle;
}
.risk-reg {
  text-align: center;
  background-color: #3772b8;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px;
}
.table-sec {
  width: 100%;
  overflow-x: scroll;
}
/* Risk Generator End */

/* Dashboard */
.spare-top {
  background-color: #258e89;
  padding: 40px;
}
.dash-top-head {
  background-color: #efee53;
  color: black;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.dash-human-res {
  background-color: #4472c4;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.dash-clinical-act {
  background-color: #ed7d31;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.employee-btn {
  background-color: #f3f6fb;
}
.employee-det {
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0% !important;
  align-items: center;
  text-align: center;
  display: flex;
}
.employee-det-two {
  justify-content: space-between;
  padding: 20px;
  padding-top: 0% !important;
  align-items: center;
  text-align: center;
  display: flex;
}
.empl-col {
  background-color: #f3f6fb;
}
.empl-count {
  background-color: #bdbdbd;
  text-align: center;
}
.gender-sec {
  background-color: #f4f7fc;
}
.avrg-age {
  padding: 10px;
  background-color: #e8eef8;
  border: 2px solid #e3e9f7;
}
.avrg-age-butn {
  background: transparent;
  color: black;
  border: 2px solid #d2d8e2;
  padding: 2px;
}
.diversity-sec {
  background-color: #f9fbfe;
  padding: 10px;
}
.diversity-sec button {
  background-color: white;
  border: 2px solid #d2dae6;
  padding: 5px;
}
.employ-roles-sec {
  background-color: #dce5f4;
  padding: 10px;
}
.employ-roles-sec button {
  background-color: white;
  border: 2px solid #d2dae6;
  padding: 5px;
}
.chart-container {
  width: 50%;
  height: 50%;
  margin: auto;
}
.bad-occup {
  background-color: #b952ff;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.attrition-ro {
  background-color: #c0cbe0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.new-start-btn {
  background-color: white;
  border: none;
  padding: 5px;
}
.attrition-btn {
  background-color: white;
  border: none;
  padding: 5px;
}
.patient-safty {
  background-color: #70ad47;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.re-admiss-btn {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 13px;
  border: 2px solid #dfdfdd;
  padding: 7px;
  font-weight: 700;
}
.patient-fall-btn {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 14px;
  border: 2px solid #dfdfdd;
  padding: 6px;
  font-weight: 700;
}
.infection-btn {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 14px;
  border: 2px solid #dfdfdd;
  padding: 6px;
  font-weight: 700;
}
.patent-saf-ro {
  background-color: #f6fbf4;
}
.daycase-surg {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid #d5d5d5;
  padding: 5px;
}
.number-btn {
  border: 2px solid #848484;
  padding: 15px;
  width: 100px;
  background: transparent;
}
.frnd-n-fam-sec {
  background-color: #f5e28b;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 14px;
}
.comment-lies li {
  list-style: disc;
}
.entr-data-btn {
  background-color: #38b6ff;
  color: white;
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 75%;
}
.print-btn {
  background-color: #38b6ff;
  color: white;
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 75%;
}
/* Dashboard End */
