/* Home Page */
.hero-sec-search {
  border-radius: 50px;
}
.hero-sec-card-one {
  background-color: #c44337;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 110px;
}
.hero-sec-card-two {
  background-color: #95d35a;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-three {
  background-color: #7735da;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-four {
  background-color: #3772b8;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-five {
  background-color: #d29b46;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-six {
  background-color: #efee53;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-seven {
  background-color: #61b8c2;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-eight {
  background-color: #c44337;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
.hero-sec-card-nine {
  background-color: #7735da;
  color: white;
  padding: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 184px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Home Page End */

/* Risk Generator */
.dash-td ul li {
  list-style: circle;
}
.risk-reg {
  text-align: center;
  background-color: #3772b8;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px;
}
.table-sec {
  width: 100%;
  overflow-x: scroll;
}
/* Risk Generator End */

/* Dashboard */
.spare-top {
  background-color: #258e89;
  padding: 40px;
}
.dash-top-head {
  background-color: #efee53;
  color: black;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.dash-human-res {
  background-color: #4472c4;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.dash-clinical-act {
  background-color: #ed7d31;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.employee-btn {
  background-color: #f3f6fb;
}
.employee-det {
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0% !important;
  align-items: center;
  text-align: center;
  display: flex;
}
.employee-det-two {
  justify-content: space-between;
  padding: 20px;
  padding-top: 0% !important;
  align-items: center;
  text-align: center;
  display: flex;
}
.empl-col {
  background-color: #f3f6fb;
}
.empl-count {
  background-color: #bdbdbd;
  text-align: center;
}
.gender-sec {
  background-color: #f4f7fc;
}
.avrg-age {
  padding: 10px;
  background-color: #e8eef8;
  border: 2px solid #e3e9f7;
}
.avrg-age-butn {
  background: transparent;
  color: black;
  border: 2px solid #d2d8e2;
  padding: 2px;
}
/* Dashboard End */
